<!-- 수정전 -----  -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>Gallery</title>

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .wrap {
            margin: auto;
            width: 900px;
        }

        .comment {
            font-weight: bold;
            color: blue;
        }

        .posting-box {
            margin: 10px auto 30px auto;
            width: 500px;

            border: 3px solid black;
            border-radius: 5px;

            padding: 25px;

            display: none;
        }
    </style>
    <!-- <script>
        function openclose() {
            let status = $('#post-box').css('display');
            if (status == 'block') {
                $('#post-box').hide()
                $('#posting-box-btn').text('포스팅박스 열기')
            } else {
                $('#post-box').show()
                $('#posting-box-btn').text('포스팅박스 닫기')
            }
        }
    </script> -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CVP 교통탐지시스템</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SYSTEM 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">갤러리</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            교통위반탐지하기
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href='/imageupload'>이미지 판정</a></li>
                            <li><a class="dropdown-item" href="#">실시간 영상변환</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                        </ul>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="위반종류별 검색" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">SearchButton</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="wrap">
        <div class="jumbotron">
            <h1 class="display-4">CVP팀 갤러리</h1>
            <p class="lead">교통규칙을 위반한 사례들을 모아둔 갤러리입니다.</p>
            <hr class="my-4">
            <!-- <p class="lead">
                <a id="posting-box-btn" onclick="openclose()" class="btn btn-primary btn-lg" href="#"
                    role="button">포스팅박스 열기</a>
            </p> -->
        </div>
        <!-- <div class="posting-box" id="post-box">
            <div class="form-group">
                <label for="exampleInputEmail1">아티클 URL</label>
                <input id="post-url" type="email" class="form-control" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">간단 코멘트</label>
                <input type="password" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">기사 저장</button>
        </div> -->

        <div class="card-columns" id="cards-box">

            <div class="card">
                <img id="processed-img" class="card-img-top"
                    src="https://cdn.discordapp.com/attachments/1144192540531228734/1146071305662242917/a.jpg_P.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title">PM 13항 위반종류별</a>
                    <p class="card-text">2020/22/22 "안전모 미착용"을 하셨기 때문에 벌금 10만원이 부과됩니다.</p>
                    <p class="card-text comment">10만원.</p>
                    <button id="bb" type="submit" class="btn btn-primary">확인하기</button>
                </div>
            </div>


        </div>
        <!-- 수정전 잘되는 부분  -->
        <!-- <script>
            fetch('/get-cards')
              .then(response => response.json())
              .then(data => {
                const cardsBox = document.getElementById('cards-box');
                data.cards.forEach(card => {
                  const cardElement = document.createElement('div');
                  cardElement.className = 'card';
                  cardElement.innerHTML = `<h5 class="card-title">${card.title}</h5><p class="card-text">${card.content}</p>`;
                  cardsBox.appendChild(cardElement);
                });
              });
          </script> -->

          <!-- 수정후 최신 -->

          <script>
            fetch('/get-cards')
              .then(response => response.json())
              .then(data => {
                const cardsBox = document.getElementById('cards-box');
                data.cards.forEach(card => {
                  const cardElement = document.createElement('div');
                  cardElement.className = 'card';
                  cardElement.innerHTML = `
                    <img id="processed-img" class="card-img-top" src="${card.img_src}" alt="Card image cap">
                    <div class="card-body">
                        <a href="${card.link}" class="card-title">${card.title}</a>
                        <p class="card-text">${card.date} ${card.description}</p>
                        <p class="card-text comment">${card.comment}</p>
                        <a id="bb" class="btn btn-primary" href="${card.link}">확인하기</a>
                    </div>
                  `;
                  cardsBox.appendChild(cardElement);
                });
              });
          </script>
          
        <!-- <script>
            function addNewCard(img_url, title, details) {
                var cardHTML = '<div class="card">' +
                                '<img class="card-img-top" src="'+ img_url +'" alt="Card image cap">' +
                                '<div class="card-body">' +
                                '<a href="#" class="card-title">'+ title +'</a>' +
                                '<p class="card-text">'+ details +'</p>' +
                                '<button type="submit" class="btn btn-primary">확인하기</button>' +
                                '</div>' +
                                '</div>';
                $('#cards-box').append(cardHTML);
            }
        </script> -->
        <!-- 수정전끝 -->

        <!-- <div class="card-columns" id="cards-box">
            <div class="card">
                <img class="card-img-top"
                    src="https://cdn.discordapp.com/attachments/1144192540531228734/1146071305662242917/a.jpg_P.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title">PM 13항 위반종류별</a>
                    <p class="card-text">2020/22/22 "안전모 미착용"을 하셨기 때문에 벌금 10만원이 부과됩니다.</p>
                    <p class="card-text comment">10만원.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://cdn.discordapp.com/attachments/1138666032811229217/1146368918278115338/image.png"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title">PM 13항 위반종류별</a>
                    <p class="card-text">"안전모 미착용"을 하셨기 때문에 벌금 10만원이 부과됩니다.</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://cdn.discordapp.com/attachments/1138666032811229217/1146288665891442832/S000052_047_0021_C_D_F_0.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title">PM 13항 위반종류별</a>
                    <p class="card-text">"안전모 미착용"을 하셨기 때문에 벌금 10만원이 부과됩니다.</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://cdn.discordapp.com/attachments/1138666032811229217/1146288621758980116/T014946_000_0180_C_D_F_0.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title">PM 13항 위반종류별</a>
                    <p class="card-text">"안전모 미착용"을 하셨기 때문에 벌금 10만원이 부과됩니다.</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://cdn.discordapp.com/attachments/1138666032811229217/1146288148259803226/T005034_082_0070_C_D_F_0.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="http://naver.com" class="card-title">PM 13항 위반종류별</a>
                    <p class="card-text">"안전모 미착용"을 하셨기 때문에 벌금 10만원이 부과됩니다..</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
        </div> -->
    </div>
</body>

</html>